
.photo
{
    width: 460px;
}
.dop_photo
{   margin: 0;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.dop_photo p
{
    margin: 0;
    width: 140px;
    height: 149px;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2);
}
.main_photo
{
   
    width: 460px;
    height: 498px;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2);
}

.about_item
{
    width: 400px;
    padding: 20px 5px 0 0;
}
.artikle{
    float: right;
}
.about{
    margin: 0;
    margin-top: 30px;
}
.price_buy
{
    margin-top: 35px;
    margin-bottom: 55px;
}
.item_list{
    margin: 0;
    padding: 0;
    list-style: none;
}
.item_element{
    padding-left: 21px;
    position: relative;
    line-height: 30px;
}
.item_element::before{
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    background-color:#000;
    left:0px;
    top:25%;
    transform: rotate(45deg);
}
.filter_element legend{
    margin: 0;
    margin-bottom: 25px;
    font-size: 24px;
    line-height: 30px;
}
