
.popup_login {
    display: none;
    position: fixed;
    top: 120px;
    left: 50%;
    margin-left: -230px;
    width: 460px;
    box-sizing: border-box;
    padding: 50px 80px;
    background-color: #f8f5f2;
    background-image: url("../../vector/Слой 1.jpg");
    background-position: 0 0;
    background-repeat: repeat;
    color: #000;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);

}

.popup_login h2,
.popup_login p {
    margin: 0;
}

.popup_login h2 {
    margin-bottom: 20px;
    font-size: 30px;
}

.popup_login p {
    margin-bottom: 15px;

}

.login_form input {
    box-sizing: border-box;
    font: inherit;
    text-transform: uppercase;
    width: 100%;
    padding: 10px 15px;
    padding-right: 50px;
    background-color: #f8f5f2;
    border: 2px solid #000;
}

#log {
    margin-bottom: 10px;
    background-image: url("../../vector/user.svg");
    background-position: 262px center;
    background-repeat: no-repeat;
}

#pas {
    margin-bottom: 15px;
    background-image: url("../../vector/lock.svg");
    background-position: 262px center;
    background-repeat: no-repeat;
}

.other_login {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.other_login a {
    color: #000;
    text-decoration: underline;
}

.check {

    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

.check input[type="checkbox"]+.checkbox_indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    border: 2px solid #000;
}

.check input[type="checkbox"]:focus+.checkbox_indicator {
    border-color: #663d15;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

.check input[type="checkbox"]:checked+.checkbox_indicator::before,
.check input[type="checkbox"]:checked+.checkbox_indicator::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 1px;
    width: 15px;
    height: 2px;
    background-color: #000;
}

.check input[type="checkbox"]:checked+.checkbox_indicator::before {
    transform: rotate(45deg);
}

.check input[type="checkbox"]:checked+.checkbox_indicator::after {
    transform: rotate(-45deg);
}

.login_button {
    box-sizing: border-box;
    width: 100%;
}



.popup_map
{
    display: none;
    position: fixed;
    width: 766px;
    height: 561px;
    top: 50%;
    left: 50%;
    margin-left: -390px;
    margin-top: -287.5px;
    background-color: #f8f5f2;
    background-image: url("../../vector/Слой 1.jpg");
    background-position: 0 0;
    background-repeat: repeat;
    border:7px solid white;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.popup_map p{
    margin: 0;
}

.close_popup {
    position: absolute;
    top: 0;
    right: -35px;
    width: 22px;
    height: 22px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
.close_popup::before,
.close_popup::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0px;
    width: 21px;
    height: 4px;
    background-color: #d0d0d0;
}
.close_popup::before {
    transform: rotate(45deg);
}

.close_popup::after {
    transform: rotate(-45deg);
}

@keyframes open_login{
    0% {
        transform: translateY(-2000px);
      }
    
      70% {
        transform: translateY(30px);
      }
    
      90% {
        transform: translateY(-10px);
      }
    
      100% {
        transform: translateY(0);
      }
}
@keyframes close_login{
    0% {
        transform: translateY(0);
      }    
      40%{
        transform: translateY(50px);
      }
      100% {
        transform: translateY(-2000px);
      }
}
@keyframes eror_login{
    0%,100% {
        transform: translateX(0);
      }  
      10%,30%,50%,70%,90%
      {
        transform: translateX(10px);
      }
      20%,40%,60%,80%
      {
        transform: translateX(-10px);
      }
    }  
@keyframes open_map{
    0% {
        transform: translateX(-2000px);
      }
    
      70% {
        transform: translateX(30px);
      }
    
      90% {
        transform: translateX(-10px);
      }
    
      100% {
        transform: translateX(0);
      }
}
@keyframes close_map{
    0% {
        transform: translateX(0);
      }
    
      40% {
        transform: translateX(-50px);
      } 
      100% {
        transform: translateX(2000px);
      }
}
.open_popup_map
{
    display: block;
    animation: open_map 0.6s;
}
.close_popup_map
{
    display: block;
    animation: close_map 0.6s;
}
.open_popup_login
{
    display: block;
    animation: open_login 0.6s;
}
.eror_popup_login
{
    display: block;
    animation: eror_login 0.8s;
}
.close_popup_login
{
    display: block;
    animation: close_login 0.8s;
}